{% extends 'base.html.twig' %}

{% block title %}Inventory{% endblock %}

{% block body %}
    <twig:Inventory:Listing/>
    <!-- Add this line where you want the button to appear -->
    <a href="{{ path('app_inventory_export') }}" class="btn btn-primary">Download Inventory</a>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
