{% extends ('ROLE_ADMIN' in app.user.roles) ? 'base_admin.html.twig' : 'base.html.twig' %}

{% block title %}Medication Page{% endblock %}

{% block body %}
    <main class="md:container md:mx-auto px-6 scroll-smooth mb-8">
        <twig:Medication:Listing/>
    </main>
{% endblock %}