{% extends 'base.html.twig' %}

{% block title %}Invoices{% endblock %}

{% block body %}
    <main class="container flex flex-col md:mx-auto px-2 md:px-6 mb-8">
        <div class="prose mx-auto md:mx-0"><h1>Invoices</h1></div>

        <div id="invoices" class="container p-2 md:p-5 flex flex-wrap justify-center gap-x-4 gap-y-6">
            {% for invoice in invoices %}
                <twig:Invoice:Card invoice="{{ invoice }}"/>
            {% endfor %}

            <div class="grid grid-flow-row sm:grid-flow-col gap-2 fixed end-6 sm:end-auto bottom-6 sm:bottom-4">
                <a
                        class="btn rounded-full"
                        role="button"
                        href="#invoices"
                        id="btn-back-to-top">
            <span>
              <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      class="size-4"
                      stroke-width="3"
                      stroke="currentColor">
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"/>
              </svg>
            </span>
                </a>
                {% if is_granted('ROLE_PHARMACY') %}
                    <a role="button" class="btn btn-primary rounded-full" href="{{ path('app_invoice_new') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                             stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                        </svg>
                    </a>
                {% endif %}
            </div>
        </div>


    </main>
{% endblock %}
