{% extends 'base.html.twig' %}

{% block title %}Invoices{% endblock %}

{% block body %}
    <main class="container flex flex-col md:mx-auto px-2 md:px-6 mb-8">
        <div class="prose mx-auto md:mx-0"><h1>Invoices</h1></div>

        <div class="container p-2 md:p-5 flex flex-wrap justify-center gap-x-4 gap-y-6">
            {% for invoice in invoices %}
                <twig:Invoice:Card invoice="{{ invoice }}"/>
            {% endfor %}
        </div>

        {% if is_granted('ROLE_PHARMACY') %}
            <a role="button" class="btn btn-primary mx-auto" href="{{ path('app_invoice_new') }}">Create new</a>
        {% endif %}
    </main>
{% endblock %}
