{% extends 'base.html.twig' %}

{% set show_progress_bar = false %}

{% block title %}New Invoice{% endblock %}

{% block body %}
  <main class="container px-4 mx-auto">
    <div class="prose"><h2>Create new Invoice</h2></div>

    <twig:Invoice:Form form="{{ form }}" initialFormData="{{ invoice }}"/>

    <a class="link link-secondary" href="{{ path('app_invoice_index') }}">back to list</a>

  </main>
{% endblock %}
