{% extends is_granted('ROLE_ADMIN') ? 'base_admin.html.twig' : 'base.html.twig' %}

{% set show_progress_bar = false %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <main class="container mx-auto py-4">
        <section class="flex items-center flex-col">
            <div class="prose mb-8 mt-4"><h1>Invoice #{{ invoice.id }}</h1></div>
            <twig:Invoice:Card invoice="{{ invoice }}"/>
        </section>
    </main>
{% endblock %}
