{% extends 'base.html.twig' %}

{% block title %}MaakMed{% endblock %}

{% set with_flash_messages = true %}

{% block body %}

  <main class="w-full">

    <!-- start hero -->
    <div class="bg-gray-100">
      <section class="bg-blue-teal-gradient cover bg-blue-600 px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 overflow-hidden py-48 flex
      items-center min-h-screen">
        <!-- <div class="h-full absolute top-0 left-0 z-0"> -->
        <!--   <img src="images/cover-bg.jpg" alt="" class="w-full h-full object-cover opacity-20"> -->
        <!-- </div> -->

        <div class="lg:w-3/4 xl:w-2/4 relative z-10 h-100 lg:mt-16">
          <div>
            <h1 class="text-white text-4xl md:text-5xl xl:text-6xl font-bold leading-tight">A better life starts with a MaakMed Plan.</h1>
            <p class="text-blue-100 text-xl md:text-2xl leading-snug mt-4">
              Find Everything You Need Under One Roof
              Your insurance plan is tailored to match your unique needs, lifestyle, and goals perfectly. Let us assist you every step of the way!"</p>
            <a href="{{ path("app_register") }}" class="px-8 py-4 bg-teal-600 text-white rounded inline-block mt-8 font-semibold">Get Started</a>
          </div>
        </div>
      </section>
    </div>
    <!-- end hero -->

    <!-- start about -->
    <section class="relative px-4 py-16 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 lg:py-32">
      <div class="flex flex-col lg:flex-row lg:-mx-8">
        <div class="w-full lg:w-1/2 lg:px-8">
          <h2 class="text-3xl leading-tight font-bold mt-4">Welcome to MaakMed</h2>
          <p class="text-lg mt-4 font-semibold">A FIRST in TUNISIA!</p>
        </div>

        <div class="w-full lg:w-1/2 lg:px-8 mt-12 lg:mt-0">
          <div class="md:flex">
            <div>
              <div class="w-14 h-14 bg-primary rounded-full"></div>
            </div>
            <div class="md:ml-8 mt-4 md:mt-0">
              <h4 class="text-xl font-bold leading-tight">Streamlined Process:</h4>
              <p class="mt-2 leading-relaxed"> Our app simplifies and automates the entire insurance and prescription process
                right here.</p>
            </div>
          </div>

          <div class="md:flex mt-8">
            <div>
              <div class="w-14 h-14 bg-primary rounded-full"></div>
            </div>
            <div class="md:ml-8 mt-4 md:mt-0">
              <h4 class="text-xl font-bold leading-tight">Faster Insurance Claims</h4>
              <p class="mt-2 leading-relaxed">Speed up the insurance claims process Submit and track claims seamlessly</p>
            </div>
          </div>
          <div class="md:flex mt-8">
            <div>
              <div class="w-14 h-14 bg-primary rounded-full"></div>
            </div>
            <div class="md:ml-8 mt-4 md:mt-0">
              <h4 class="text-xl font-bold leading-tight">Efficient Prescription Management</h4>
              <p class="mt-2 leading-relaxed">Our app allows users to easily manage and access their prescriptions in one centralized location.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="md:flex md:flex-wrap mt-24 text-center md:-mx-4 justify-center items-center">
        <div class="md:w-1/2 md:px-4 lg:w-1/3">
          <div class="h-[19rem] bg-white rounded-lg border border-gray-300 p-8">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-25 mx-auto" width="54" height="54" viewBox="0 0 24 24" stroke-width="1.5" stroke="#38b2acff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M5 14.5h-.222c-1.535 0 -2.778 -1.12 -2.778 -2.5s1.243 -2.5 2.778 -2.5h.222" />
              <path d="M19 14.5h.222c1.534 0 2.778 -1.12 2.778 -2.5s-1.244 -2.5 -2.778 -2.5h-.222" />
              <path d="M9 10h6" />
              <path d="M9 14h6" />
              <path d="M12.55 18.843l5 -1.429a2 2 0 0 0 1.45 -1.923v-6.981a2 2 0 0 0 -1.45 -1.923l-5 -1.429a2 2 0 0 0 -1.1 0l-5 1.429a2 2 0 0 0 -1.45 1.922v6.982a2 2 0 0 0 1.45 1.923l5 1.429a2 2 0 0 0 1.1 0z" />
            </svg>

            <h4 class="text-xl font-bold mt-4">For patients</h4>
            <div class="prose">
                <ul class="flex flex-col items-start">
                  <li>Subscribe to an insurance plan</li>
                  <li>Consult visits</li>
                  <li>Consult invoices</li>
                </ul>
            </div>
          </div>
        </div>

        <div class="md:w-1/2 md:px-4 mt-4 md:mt-0 lg:w-1/3">
          <div class="h-[19rem] bg-white rounded-lg border border-gray-300 p-8">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stethoscope h-25 mx-auto" width="54" height="54" viewBox="0 0 24 24" stroke-width="1.5" stroke="#38b2acff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M6 4h-1a2 2 0 0 0 -2 2v3.5h0a5.5 5.5 0 0 0 11 0v-3.5a2 2 0 0 0 -2 -2h-1" />
              <path d="M8 15a6 6 0 1 0 12 0v-3" />
              <path d="M11 3v2" />
              <path d="M6 3v2" />
              <path d="M20 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            </svg>

            <h4 class="text-xl font-bold mt-4">For doctors</h4>
            <div class="prose">
              <ul class="flex flex-col items-start">
                <li>Record visits</li>
                <li>Prescribe medications</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="md:w-1/2 md:px-4 mt-4 md:mt-8 lg:mt-0 lg:w-1/3">
          <div class="h-[19rem] bg-white rounded-lg border border-gray-300 p-8">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pill h-25 mx-auto" width="54" height="54" viewBox="0 0 24 24" stroke-width="1.5" stroke="#38b2acff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M4.5 12.5l8 -8a4.94 4.94 0 0 1 7 7l-8 8a4.94 4.94 0 0 1 -7 -7" />
              <path d="M8.5 8.5l7 7" />
            </svg>
            <h4 class="text-xl font-bold mt-4">For pharmacies</h4>
            <div class="prose">
              <ul class="flex flex-col items-start">
                <li>Manage inventory</li>
                <li>Record invoices</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- start cta -->
    <section
      class="fixed bg-blue-teal-gradient px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 py-12 text-center md:text-left">
      <div class="md:flex md:items-center md:justify-center">
        <h2 class="text-xl font-bold text-white">Get in touch with us today! <br class="block md:hidden">Call us on: +1
          562-789-1935</h2>
        <a href="#"
          class="px-8 py-4 bg-white text-blue-600 rounded inline-block font-semibold md:ml-8 mt-4 md:mt-0">Book Appointment</a>
      </div>
    </section>
    <!-- end cta -->

  </main>

{% endblock %}
