<h1 style="color: #123456;">MAAKMED Administration </h1>


<p style="color: #654321;">
    This email is sent to you because you are a member on MAAKMED. <br>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}" style="color: #987654;">Confirm my Email</a>.
</p>

<p style="color: #654321;">
    Cheers!
</p>