{% extends 'base.html.twig' %}

{% block title %}Edit Visit{% endblock %}

{% block body %}
    <main class="container px-8 mx-auto mt-8">
      <div class="prose"><h1>Edit Visit</h1></div>

      <twig:Visit:Form form="{{ form }}" initialFormData="{{ visit }}"/>

      <a class="link link-secondary" href="{{ path('app_visit_index') }}">back to list</a>

      {{ include('visit/_delete_form.html.twig') }}
    </main>
{% endblock %}
