{% extends 'base.html.twig' %}

{% set show_progress_bar = false %}

{% block title %}Edit Visit{% endblock %}

{% block body %}
    <main class="container px-8 mx-auto mt-8">
      <div class="prose"><h1>Edit Visit</h1></div>

      <twig:Visit:Form form="{{ form }}" initialFormData="{{ visit }}"/>
    </main>
{% endblock %}
