{% extends is_granted('ROLE_ADMIN') ? 'base_admin.html.twig' : 'base.html.twig' %}

{% block title %}Visit index{% endblock %}

{% set with_flash_messages = true %}

{% block body %}
    <main class="container md:mx-auto px-6 scroll-smooth my-8">
        <twig:Visit:Listing/>
    </main>
{% endblock %}
