{% extends is_granted('ROLE_ADMIN') ? 'base_admin.html.twig' : 'base.html.twig' %}

{% block title %}Visit index{% endblock %}

{% block body %}
    <main class="md:container md:mx-auto px-6 scroll-smooth mb-8">
        <twig:Visit:Listing/>
    </main>
{% endblock %}
