{% extends 'base.html.twig' %}

{% set show_progress_bar = false %}

{% block title %}New Visit{% endblock %}

{% block body %}
    <main class="container px-8 mx-auto mt-8">
        <div class="prose"><h1>Create new Visit</h1></div>

        <twig:Visit:Form form="{{ form }}" initialFormData="{{ visit }}"/>

        <a class="link link-secondary"  href="{{ path('app_visit_index') }}">back to list</a>
    </main>
{% endblock %}
