<form method="post" action="{{ path('app_prescription_delete', {'id': prescription.id}) }}"
      >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prescription.id) }}">
    <button class="btn">Delete</button>
</form>