{% set flashes = app.flashes(["error", "warning", "success", "info"]) %}
{% if flashes|filter(null) is not empty %}
    <div {{ attributes.defaults({class: "toast"}) }} data-turbo-temporary>
        {% for label, messages in flashes %}
            {% for message in messages %}
                <twig:Flash:Alert label="{{ label }}" message="{{ message }}"/>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
