<div {{ attributes.defaults({class:"toast"}) }} data-turbo-temporary>
    {% for label, messages in app.flashes(["error", "warning", "success", "info"]) %}
        {% for message in messages %}
            <twig:Flash:Alert label="{{ label }}" message="{{ message }}"/>
        {% endfor %}
    {% endfor %}
</div>
