{% extends 'base_admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% set with_flash_messages = true %}

{% block body %}
    <!-- Page Heading -->

    <main>
      <section class="p-4 rounded-lg min-h-96 mb-4 border-b border-2">
          <div class="prose mb-4"><h2 class="text-4xl">Users</h2></div>
          <div class="grid place-items-center">
            <twig:User:Chart:Stat loading="lazy" />
          </div>
          <twig:User:Chart:UserAgeDistribution class="mt-8" loading="lazy" />
          <twig:User:Chart:UserTypeDistribution class="grid place-items-center" loading="lazy" />
      </section>
      <section class="p-4 rounded-lg min-h-96 mb-4 border-b border-2">
          <div class="prose mb-4"><h2 class="text-4xl">Visits</h2></div>
          <twig:Visit:Chart:MonthlyCount loading="lazy" />
          <twig:Visit:Chart:TypeDistribution class="grid place-items-center" loading="lazy" />
          <twig:Visit:Stat:DoctorsByVisit class="grid place-items-center" loading="lazy" />
      </section>
      <section class="p-4 rounded-lg min-h-96 mb-4 border-b border-2">
      </section>
    </main>
{% endblock %}
