{% extends ('ROLE_ADMIN' in app.user.roles) ? 'base_admin.html.twig' : 'base.html.twig' %}



{% block title %}Edit Insurance Plan{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold text-center mb-4 mt-4">Edit Plan</h1>

    <twig:InsurancePlanForm form="{{ form }}" initialFormData="{{ insurancePlan }}" button_label="Update"/>
    <div class="flex items-center justify-center">
    </div>

{% endblock %}
