{% extends 'base.html.twig' %}

{% block title %}Edit Insurance Plan{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold text-center mb-4 mt-4">Edit Plan</h1>

    <twig:InsurancePlanForm form="{{ form }}" initialFormData="{{ insurancePlan }}" button_label="Update"/>
    <div class="flex items-center justify-center">
    <a class="px-8 py-4  btn btn-primary  text-white rounded inline-block mt-5 font-semibold " href="{{ path('app_insurancePlan_list') }}">back to list</a>
    </div>

{% endblock %}
