{% extends 'base_admin.html.twig' %}

{% block title %}Users{% endblock %}

{% set with_flash_messages = true %}

{% block body %}
    <main class="container">
        <twig:User:Listing/>

    </main>
{% endblock %}

